In [8]:
import pandas as pd
df = pd.read_csv('doctor_dataset.csv')
df.head()

,Unnamed: 0,doctor_name,department,experience,place,hospital_name,contact_number,positive_count,negative_count,neutral_count,total_reviews,rank_math,rank
0,0,David Chavez,Cardiology,3,Ernakulam,Jubilee Mission,+91-9507604768,63,69,41,173,-0.034682,5
1,1,Nicole Pham,Ortho,2,Ernakulam,Nayara,+91-1614187441,74,66,34,174,0.045977,5
2,2,Maria Proctor,Ortho,5,Ernakulam,Jubilee Mission,+91-8452225935,70,62,35,167,0.047904,5
3,3,Mr. Samuel Miller,Ortho,4,Calicut,Co-operative,+91-6320449529,69,58,38,165,0.066667,4
4,4,Wesley Rodriguez,ENT,1,Ernakulam,Jubilee Mission,+91-8317444673,76,67,43,186,0.048387,3

In [6]:
df.rename(columns={'Department':'department'},inplace=True)

In [7]:
df.to_csv('doctor_dataset.csv',index=False)